.character{
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.character::after{
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../../image/character.png);
    width: 70px;
    height: 70px;
    content: '';
    background-size: cover;
    background-position: center;
}

.character__atack-zone::before{
    top: -70px;
    left: -70px;
    opacity: 0.5;
    content: "";
    position: absolute;
    z-index: -1;
    background-color: red;
    width: 210px;
    height: 210px;
}
.character__atack-zone{

}