body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(./blocks/app/App.css);
@import url(./blocks/cell/cell.css);
@import url(./blocks/cell/_light/cell_light.css);
@import url(./blocks/battle-map/battle-map.css);

@import url(./blocks/turn-counter/turn-counter.css);

@import url(./blocks/enemy/enemy.css);
@import url(./blocks/enemy/__tooltip/enemy__tooltip.css);
@import url(./blocks/enemy/__tooltip/_hidden/enemy__tooltip_hidden.css);
@import url(./blocks/enemy/_dead/enemy_dead.css);

@import url(./blocks/character/character.css);
@import url(./blocks/character/_dead/character_dead.css);
@import url(./blocks/character/_pulse/character_pulse.css);
@import url(./blocks/character/__attack-zone/character__attack-zone.css);
@import url(./blocks/character/__attack-zone/_hidden/character__attack-zone_hidden.css);
@import url(./blocks/character/__tooltip/character__tooltip.css);
@import url(./blocks/character/__tooltip/_hidden/character__tooltip_hidden.css);