body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(./blocks/app/App.css);
@import url(./blocks/cell/cell.css);
@import url(./blocks/cell/_light/cell_light.css);
@import url(./blocks/battle-map/battle-map.css);
@import url(./blocks/character/character.css);
@import url(./blocks/character/_atack-zone/character_atack-zone.css);
@import url(./blocks/character/__tooltip/character__tooltip.css);
@import url(./blocks/character/__tooltip/_hidden/character__tooltip_hidden.css);